/*
******* FONTS ********

font-family: 'Dancing Script', cursive;
font-family: 'Nobile', sans-serif;

*/
body {
    /*background-color: #342b44;*/
    background-color: #242424;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.title {
  color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 120px;
	line-height: 55px;
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}



.container {
  margin-right: auto;
  margin-left: auto;
  /*max-width: 960px;*/
}



/*.outer-box {
  max-width: 960px;
  border-style: groove;
  border: 2px solid black;
}*/

.main-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  /*max-width: 960px;*/
  /*padding: 20px;*/
  /*border-style: groove;*/
  /*border: 2px solid black;*/
}

.form-group {
  border: 0.5px;
  border-color: #616161;
}

.head {
  text-align: center;
}

h1 {
  color: #fff;
}

h3 {
  color: #fff;
}

@media (min-width:767px) {
  .outer-box {
    /*padding: 100px;*/
  }
}
@media (max-width: @screen-xs-max) {
  .btn {
    margin-bottom: 20px;
  }
  .button-gap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .space {
    height: 20px;
  }
}
